html {
  background-color: #fcbf49;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overscroll-behavior: none;
}

input {
  text-align: center;
  background-color: white;
  border-width: 0.1rem;
  border-radius: 0.2rem;
}

.h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  padding-top: 1rem;
}

h3 {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.person {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
}

.notif {
  color: black;
  font-size: 1.5rem;
  background-color: white;
  padding: 0.5rem;
  border-style: solid;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.add,
.delButton {
  border-radius: 0.2rem;
  background-color: black;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.f,
.addDiv,
.se {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.3rem;
}
